<h3><i class="fas fa-book-reader"></i> Travel With Ease</h3>
<div class="section">
    <p class="lead">Cerca il tuo posto ideale dove  tracorrere una giornata</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>